<strong>Olá, {{ distributor }}</strong>
<p>Uma de suas entregas foi deletada!</p>
<p>
  <strong>Entrega: </strong> {{ order }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <small>
    Uma das entregas que estava registrada para você foi deletada por algum erro ocorrido na hora do cadastro do
    produto. Nos desculpe pelo transtorno.
  </small>
</p>