<strong>Olá, {{ distributor }}</strong>
<p>Uma nova entrega foi registrada para você e está aguardando sua retirada!</p>
<p>
  <strong>Entrega: </strong> {{ order }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Endereço de entrega: </strong> {{ userAddress }} <br />
  <br />
  <span>Caso ocorra algum problema, entre em contato no telefone 080099999 ou no email suporte@amego.com</span>
  <br /><br />
  <small>
    Obrigado por trabalhar conosco.
  </small>
</p>